body {
    background-image: linear-gradient(-45deg, #1565c0, #b92b27);
}

/*This styles the header*/
.header {
    border: 5px solid #39083b;
    border-radius: 5px;
    border-style: double;
    background-color: rgb(124, 13, 82);
    list-style-type: none;
    color:rgb(195, 195, 209);
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

/*This styles the main header in the header*/
#topHeader {
    font-family: cursive;
    color: whitesmoke;
    display: inline-block;
    justify-content: left;
}

/*This styles the list in the header*/
.header-menu {
    display: flex;
    justify-content: end;
    list-style: none;
}

/*This adds padding around the texts in the list*/
.header-menu li {
    padding: 1rem;
}

/*This adds style to the text in anchor tags and lists*/
a, li {
    font-weight: bold;
    text-decoration: none;
    color: whitesmoke;
}

/*This creates a blue highlight when you hover over the anchor tags*/
a:hover {
    background-color: cornflowerblue;
    padding: 10px;
    cursor: pointer;
}

/*This styles the image at the top of the page*/
.banner {
    display: flex;
    margin: 0;
    padding: 0;
}

/*This organizes the sections in the main part of the page*/
.main {
   display: grid;
   grid-template-columns: 200px 2fr;
   gap: 1rem;
   margin-left: 10rem;
}

/*Creates and styles the heading before the about me paragraph*/
.aboutMe {
    border-width: 10px;
    border-radius: 100px;
    border-style: double;
    border-color: rgb(212, 174, 247);
    padding: 20px;
    max-width: 150px;
    max-height: 150px;
    background-color: rgb(48, 140, 201);
}

/*This styles the text in the first article*/
.about-me-paragraph {
    padding: 20px;
    max-width: 700px;
}

/*This styles the photo image included in the about me paragraph*/
.photo {
    border-radius: 5px;
    display: flex;
    justify-content: end;
    max-width: 100%;
    float: left;
    shape-outside: circle(50%);
    margin-right: 2rem;
}


/*Creates and styles the heading before the work paragraph*/
.Work {
    border-width: 10px;
    border-radius: 100px;
    border-style: double;
    border-color: rgb(212, 174, 247);
    padding: 20px;
    width: 150px;
    height: 150px;
    background-color: rgb(48, 140, 201);
}

/*This styles the second article*/
.Work-Paragraph {
    padding: 20px;
    max-width: 700px;
}

/*The following elements arrange the projects within the work paragraph*/
.projectsBig {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#project1 {
    width: 700px;
    float: left;
    border: 1px solid blue;
    padding: 30px; 
}

.projectsSmall {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#project2, #project3 {
    width: 350px;
    border: 1px solid blue;
    padding: 30px;
}

#project2 {
    display: left;
    justify-items: center;
}

#project3 {
    display: right;
    justify-items: center;
}

/*Creates and styles the heading before the contact me paragraph*/
.Contact-Me {
    border-width: 10px;
    border-radius: 100px;
    border-style: double;
    border-color: rgb(212, 174, 247);
    padding: 20px;
    width: 150px;
    height: 150px;
    background-color: rgb(48, 140, 201);
}

/*This styles the third article*/
.Contact-Me-Paragraph {
    padding: 20px;
    max-width: 700px;
}

/*This creates spce between contact links and logos*/
.contacts {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

/*This styles the text in the headings before each article paragraphs*/
h2 {
    color: whitesmoke;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: xx-large;
    text-shadow: 2px 2px #0a2e58;
}

/*This styles the text in the articles*/
p, div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}

/*This styles the text in the footer*/
h3 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1565c0;
    text-shadow: 2px 2px #0a2e58;
}

@media screen and (max-width: 900px) {
    .header-menu {
        display: flex;
        justify-content: left;
        flex-direction: column;
        width: 100%
    }
}

@media screen and (max-width: 900px) {
    .main {
        display: flex;
        justify-content: left;
        flex-direction: column;
        width: 100%
    }
}

