body {
    background-image: linear-gradient(-45deg, #1565c0, #b92b27);
}

.header {
    border: 5px solid #24083b;
    border-radius: 5px;
    border-style: double;
    background-color: rgb(54, 31, 160);
    list-style-type: none;
    color:rgb(195, 195, 209);
    display: flex;
    justify-content: space-between;
}

#topHeader {
    font-family: cursive;
    color: whitesmoke;
    display: inline-block;
    justify-content: left, space-around;
}

.header-menu {
    display: flex;
    justify-content: end;
    list-style: none;
}

.header-menu li {
    padding: 1rem;
}

a, li {
    font-weight: bold;
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    background-color: cornflowerblue;
    padding: 10px;
}

.banner {
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

.main {
    display: grid;
    width: 100%;
    grid-template-columns: 200px 3fr;
    gap: 10px;
}

.aboutMe {
    border-width: 10px;
    border-radius: 100px;
    border-style: double;
    border-color: rgb(212, 174, 247);
    padding: 20px;
    width: 150px;
    height: 150px;
    background-color: rgb(48, 140, 201);
}

.about-me-paragraph {
    border-color: rgb(212, 174, 247);
    padding: 20px;
    max-width: 700px;
}

.photo {
    border-radius: 5px;
    display: flex;
    justify-content: end;
    max-width: 100%;
    float: left;
    shape-outside: circle(50%);
    margin-right: 2rem;
}

.Work {
    border-width: 10px;
    border-radius: 100px;
    border-style: double;
    border-color: rgb(212, 174, 247);
    padding: 20px;
    width: 150px;
    height: 150px;
    background-color: rgb(48, 140, 201);
}

.Work-Paragraph {
    border-color: rgb(212, 174, 247);
    padding: 20px;
    max-width: 700px;
}

.Contact-Me {
    border-width: 10px;
    border-radius: 100px;
    border-style: double;
    border-color: rgb(212, 174, 247);
    padding: 20px;
    width: 150px;
    height: 150px;
    background-color: rgb(48, 140, 201);
}

.Contact-Me-Paragraph {
    border-color: rgb(212, 174, 247);
    padding: 20px;
    max-width: 700px;
}

h2 {
    color: white;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: xx-large;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}